.container {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 9px;
    flex-shrink: 0;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.title {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.subtitle {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.labels {
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex-grow: 1;
}

.actions {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
